body{
    background-color: black;   
}

main{
    width: 1024px;
    margin: 0 auto;
    background-color: rgb(254, 255, 255);
}

header{
    height: 480px;
    font-size: 50px;
    background-size: cover;
    background-image:url(../images/angel-jimenez.jpg);
}

.guitarra{
    height: 480px;
    background-image: url(../images/john-raptis.png);
    background-size: cover;
}

.texto{
    float: right;
    width: 275px;
    padding: 0 50px 10px 50px;
    text-align: right;
}

img{
    width: 275px;
}

.float1{
    float: right;
    width: 275px;
    padding: 70px 130px 50px 50px;
}

.fun{
    float: left;
    width: 275px;
    padding: 100px 50px 50px 130px;
    text-align: justify;
    
}
.clear1{
    clear: both;
}

.float2{
    float: left;
    width: 275px;
    padding: 70px 50px 50px 130px; 
}
.louder{
    float: right;
    width: 275px;
    padding: 100px 130px 50px 50px; 
    text-align: justify;  
}

.clear2{
    clear: both;
}

h2{
    background: -webkit-linear-gradient(red,rgb(216, 18, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    text-align: center;
    color:rgb(254, 255, 255);
    margin: 0 0 60px;
    padding: 155px 0 0 0;
}

.fondo{
    background-color: #f83e76;
    padding: auto;
    width: 1024px;
    height: 400px;
}

.tabla1{
    color: white;
    margin-left: 15%;
    font-size: 16px;
}

td{
    width: 150px;
    margin: 25px;
    padding: 20px;
    text-align: left;
}

th{
    text-align: justify;
}

hr{
    width: 950px;
    padding: 1px;
    color: white;
}

.color1{
    background-color: #f83e6d;
    padding: auto;
    width: 1024px;
    height: 350px;
}


.boton{
    border-radius: 25px; 
    background-color: rgb(228, 47, 80);
    width: 45%;
    color: white;
}

.bot{
    font-size: 14px;
}



footer p{
    text-align: left;
    color:rgb(243, 234, 241)
}


.gmail{
    text-align: right;
    color: white;
    padding: 0px 30px 10px 30px;
}

.black{
    color: white;
}